*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: black;
}
.navbar{
    background-color: aquamarine;
    display: flex;
    font-size: 1.25em;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logo{
    font-size: 1.25em;
    font-weight: 600;
}
.menu ul{
    list-style: none;
}
ul li{
    display: inline;
}
ul li a{
    text-decoration: none;
    color: black;
    margin-right: 70px;
    font-size: 1.15em;
    font-weight: 500;
}
ul li a:hover{
    color: rgb(151, 165, 165);
}
.btn-primary{
    background-color: orange;
    font-size: 1.05em;
    padding: 10px;
    border-radius: 25px;
}
.banner{
    display: flex;
    background-image: url('../img/man\ pic\ 2.png') ;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: right;
    align-items: center;
    margin-bottom: 120px;
}
.banner p{
    display: in;
    font-size: 20Px;
    margin-bottom: 15px;
    text-align: left;
    color: white;
}
.about h1{
    text-align: left;
    color: white;
}
.about h1 .ab{
    font-size: 2em;
    color: orangered;
    text-align: left;
}


#primary, .section-2 .head-2, h1, p{
    text-align: center;
    margin-bottom: 5px;
    color: white;
}
#primary, .section-2 .head-2, p{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 40px;
    margin-bottom: 110px;
}
.card-section .card{
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    background-color: rgb(48, 44, 44);
}
.card-section .card i{
    color: white;
    font-size: 70px;
    margin-bottom: 10px;
}
.card-section .card h4{
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 5px;
}
.card-section .card p{
    color: white;
    font-size: 25px;
}
.card-section3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 40px;
    margin-bottom: 110px;
    

}
.card-section3 .card img{
    width: 100%;
    height: 100%;
     /* margin-top: 0px; */
    /* margin-bottom: 0px; */
}
.section-5{
    margin-top: 160px;
}
.section-5 h1{
    text-align: left;
}
.downcontent .down{
    display: flex;
    justify-content: space-between;
    margin: 15px 15px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 10px;
    padding: 10px;
}
.down, p,i{
    font-size: 1.15em;
    color: white;
}
.footer-box{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    margin-left: 80px;
    margin-right: 80px;
}
.footer-box .box li{
    list-style: none;
    margin-top: 20px;
    font-size: 1.25em;
    font-weight: 600;
    color: white;
}
.footer-box .box h2{
    color: white;
}
.and .terms{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
